services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    ports:
      - "8888:8888"
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --ServerApp.allow_root=True
      --ServerApp.token=
      --ServerApp.password=
